<a href="https://colab.research.google.com/github/AnujKumar1801/Ineurone_assignment/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. What exactly is []?

In [111]:
f"this is {type([])}"

"this is <class 'list'>"

### 2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [39]:
spam = [2, 4, 6, 8, 10]
spam[2] = 'hello'

In [40]:
spam

[2, 4, 'hello', 8, 10]

__Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.__

In [112]:
spam = ['a','b','c','d']
spam

['a', 'b', 'c', 'd']

### 3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [113]:
spam[int(int('3'*2)/11)]

'd'

### 4. What is the value of spam[-1]?

In [43]:
spam[-1]

'd'

### 5. What is the value of spam[:2]?

In [114]:
spam[:2]

['a', 'b']

__Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.__

In [115]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon

[3.14, 'cat', 11, 'cat', True]

### 6. What is the value of bacon.index(&#39;cat&#39;)?

In [116]:
bacon.index('cat')

1

### 7. How does bacon.append(99) change the look of the list value in bacon?

In [117]:
bacon.append(99)

In [118]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

This will insert 99 in the last of list

### 8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

In [119]:
print(bacon)
bacon.remove('cat')
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]
[3.14, 11, 'cat', True, 99]

First cat in the list will be removed

### 9.What are the list concatenation and list replication operators?

In [120]:
list_concatenation = [1,2,3] + [4,5,6]
list_replication = [1,2,3] * 3

In [121]:
list_concatenation,list_replication

([1, 2, 3, 4, 5, 6], [1, 2, 3, 1, 2, 3, 1, 2, 3])

list concatenation means compilation of two list there are many method to do so, i have '+' to show above

while replication means duplicating the list values inside the list

### 10. What is difference between the list methods append() and insert()?

In [122]:
bacon.append(10)

In [123]:
bacon

[3.14, 11, 'cat', True, 99, 10]

In [124]:
bacon.insert(2,10)

In [125]:
bacon

[3.14, 11, 10, 'cat', True, 99, 10]

__append:__ Append used to insert value in the list, but it only insert from the last. We don't have any option to do it

__insert:__ It allow us to specify the index number as per our preference to inser the value

### 10. What are the two methods for removing items from a list?

In [126]:
bacon.remove(3.14)

In [127]:
bacon

[11, 10, 'cat', True, 99, 10]

In [128]:
bacon.pop()

10

In [129]:
bacon

[11, 10, 'cat', True, 99]

### 11. Describe how list values and string values are identical.

In [130]:
bacon

[11, 10, 'cat', True, 99]

In [131]:
name = 'Anuj'

In [132]:
bacon[0]

11

In [133]:
name[0]

'A'

In [134]:
bacon.count('cat')

1

In [135]:
name.count('A')

1

### 12. What&#39;s the difference between tuples and lists?

In [136]:
anuj = (10,11,12,32,23)

In [137]:
marks = [100,78,98]

list is mutable, while tuple is immutable

below is the example

In [138]:
anuj[3] = 40

TypeError: ignored

In [139]:
marks[1] = 57

In [140]:
marks

[100, 57, 98]

In list we can perform operation like insert, append, remove.

While in tuples we can't do that. There are only two method for tuple count, index

In [141]:
anuj.append(43)

AttributeError: ignored

In [142]:
marks.append(34)

In [143]:
marks

[100, 57, 98, 34]

### 14. How do you type a tuple value that only contains the integer 42?

In [144]:
tuple([42])

(42,)

In [145]:
(42,)

(42,)

### 15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

In [146]:
anuj

(10, 11, 12, 32, 23)

In [147]:
marks

[100, 57, 98, 34]

In [148]:
anuj = list(anuj)

In [149]:
anuj

[10, 11, 12, 32, 23]

In [150]:
marks = tuple(marks)

In [151]:
marks

(100, 57, 98, 34)

### 16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they
contain?

Answer : Unknown

### 17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [93]:
import copy

__Append method__

In [103]:
list1 = [[1,2,3],['A','B','C'],['I','II','III']]
copy_list1 = copy.copy(list1)
deep_copy_list1 = copy.deepcopy(list1)

In [104]:
display(list1,copy_list1,deep_copy_list1)

[[1, 2, 3], ['A', 'B', 'C'], ['I', 'II', 'III']]

[[1, 2, 3], ['A', 'B', 'C'], ['I', 'II', 'III']]

[[1, 2, 3], ['A', 'B', 'C'], ['I', 'II', 'III']]

In [105]:
list1.append([4,4,4])

In [106]:
display(list1,copy_list1,deep_copy_list1)

[[1, 2, 3], ['A', 'B', 'C'], ['I', 'II', 'III'], [4, 4, 4]]

[[1, 2, 3], ['A', 'B', 'C'], ['I', 'II', 'III']]

[[1, 2, 3], ['A', 'B', 'C'], ['I', 'II', 'III']]

__modification of list__

In [107]:
list1 = [[1,2,3],['A','B','C'],['I','II','III']]
copy_list1 = copy.copy(list1)
deep_copy_list1 = copy.deepcopy(list1)

In [109]:
list1[0][1] = 'AA'

In [110]:
display(list1,copy_list1,deep_copy_list1)

[[1, 'AA', 3], ['A', 'B', 'C'], ['I', 'II', 'III']]

[[1, 'AA', 3], ['A', 'B', 'C'], ['I', 'II', 'III']]

[[1, 2, 3], ['A', 'B', 'C'], ['I', 'II', 'III']]

* In deep copy program create whole different list and it is totaly independent to the orignal ove

* while in normal copy new list is created but there reference point remain the same for the list inside list. 

That's why after modification of the values inside list of list it also changes on normal copy list